
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Ticket card:") %>
    <div class="row">
    <%= text_area_tag(:q) %>
    </div>
  <%= submit_tag("Search") %>
<% end %>


<div>
  <% @card_data&.each do |card| %>
    <pre><code><%= JSON.pretty_generate(card) %></code></pre>
  <% end %>
</div>
